@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h1 {
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: black;
}

/* Header Section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: white;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: wheat;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: gray;
  font-size: 15rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: black;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: cet;
  z-index: 100;
  cursor: pointer;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: purple;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: purple;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before,
#header .hamburger.active .bar::after {
  top: 0;
  bottom: 0;
}

/* End header section */

/* Hero Section */
#hero {
  background-image: url(./images/back2.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: wheat;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: wheat;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s;
}

#hero h1:nth-child(1) span {
  animation-delay: 0.5;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero p {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: wheat;
}

#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: wheat;
  background-color: transparent;
  border: 2px solid wheat;
  border-radius: 15px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}
#hero .cta:hover {
  color: black;
  background-color: wheat;
}
/* End Hero Section */

/* Projects Section */
#projects {
}
#projects .projects {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .section-title {
  font-size: 5rem;
  font-weight: 2000;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  text-transform: none;
  letter-spacing: 0.2rem;
  text-align: center;
}

#projects .project-top h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100px;
}

#projects .project-top p {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 1000px;
  letter-spacing: 0.05rem;
}
#projects .project-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#projects .project-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 300px;
  border-radius: 10px;
  background-image: url(./images/bank.jpg);
  background-size: cover;
  margin: 30px 5%;
  position: relative;
  z-index: 1;
}
#projects .project-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#projects .project-item h2 {
  font-size: 2rem;
  text-align: left;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#projects .project-item p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

#projects .cta {
  display: inline-block;
  padding: 10px 30px;
  color: wheat;
  background-color: transparent;
  border: 2px solid white;
  font-size: 1.3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}

/* End Projects Section */

/* Footer */
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social.item {
  height: 25px;
  width: 25px;
  margin-bottom: 0 5px;
}

/* End footer */

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: green;
    font-weight: 500;
  }
}
/* End Keyframes */

/* Media Query for Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
}
/* End Media Query for Tablet */

/*Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  /*header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 2rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /*End header */
}
